<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Categories</h2>
        <div class="panel-group category-products" id="accordian">
            {% for category in categories %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="{{ path('show_category', {id: category.id, slug: category.slug}) }}">{{ category.name }}</a></h4>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>