<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% block meta %}{% endblock %}
        <title>{% block title %}Led Energy{% endblock %}</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/prettyPhoto.css" rel="stylesheet">
        <link href="/css/price-range.css" rel="stylesheet">
        <link href="/css/animate.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        <link href="/css/responsive.css" rel="stylesheet">
            {#<link rel="stylesheet" href="/css/style.min.css">#}

            <!--<script src="/js/html5shiv.js"></script>-->
            <!--<script src="/js/respond.min.js"></script>-->
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'partials/header.html.twig' %}

        {% block body %}{% endblock %}

        {#{% include 'partials/footer.html.twig' %}#}

        {# <script src="/js/jquery.js"></script> #}
        {# <script src="/js/bootstrap.min.js"></script> #}
        {# <script src="/js/jquery.scrollUp.min.js"></script> #}
        {# <script src="/js/price-range.js"></script> #}
        {#<script src="/js/jquery.prettyPhoto.js"></script>#}
        {# <script src="/js/main.js"></script> #}
        <script src="/js/script.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
